// NanoShell Resource File
SubSystem Gui
Version   1 1 0

AppName      "Minesweeper"
AppAuthor    "iProgramInCpp"
AppCopyright "Copyright (C) 2019-2023 iProgramInCpp. Licensed under the GNU GPLv3."
ProjectName  "The NanoShell(TM) Operating System"

Resource 1000 Bitmap "res/lcd.png"
Resource 1001 Bitmap "res/numbers.png"
Resource 1002 Icon "res/sweep_smiley.png"
Resource 1003 Icon "res/sweep_smiley_caret.png"
Resource 1004 Icon "res/sweep_smiley_click.png"
Resource 1005 Icon "res/sweep_smiley_dead.png"
