#probably not necessary but a good thing to add just in case
.git/*

src/extra/testa.h
src/extra/testb.h

#directories I don't want added
limine
build/*
keep/*

apps/**/build/*
apps/**/*.nse

#apps I don't want out yet because I do not like embedding third party code or experiments into the OS repo
apps/ArduNS/*
fs/Bin/ArduNS.nse
fs/Bin/Dink.nse
apps/Dink/*
apps/LimnEmu/*
apps/Nano/*
apps/Nano/keep/*
apps/nsshell/*
apps/Reversi/*

fs/Bin/Doom.nse
fs/Bin/LimnEmu.nse
fs/Bin/nsshell.nse
fs/Bin/VBuilder.nse
fs/Bin/Reversi.nse
fs/Bin/test.nse
fs/Bin/Chess.nse
fs/Tests/*.png
fs/User/*

crt2/build/*
crt2/lib/*
crt/build_libnanoshell
crt/build_crt1
crt/crt1.o
crt/crti.o
crt/crtn.o
crt/libnanoshell.a

#NES ROMs which I will not risk making public
fs/Nes/*.nes

#files I don't want added because they're too big
vdisk.vdi
vdisk*.vdi

todo.txt
todo1.txt
