# NanoShellOS - Ignored Files

# Ignore resource compiler executable
/tools/rc

# Available at https://github.com/NanoShellOS/sm64
# Won't integrate into the repo even as a submodule because:
#   1. It requires source Z64 files which I won't provide for obvious reasons
#   2. It would break `make -C apps`
# So you're left on your own. But don't worry! It's pretty easy to compile:
#   Step 1. Check out the sm64 repo at apps/sm64:
#           `cd apps && git clone https://github.com/NanoShellOS/sm64.git sm64`
#   Step 2. Paste in your preferred baserom. Default is the US version.
#   Step 3. Type `make -j` (or `make -j VERSION=xx` if you aren't using the US ROM)
# Note: This actually integrates nicely with the NanoShell build system so you
#       can just `./tryapp.sh sm64` and it'll just work. Be aware that this will
#       use the latest regional version you've compiled.
/apps/sm64
/apps/sm64/*

# SM64 binary that I won't provide, for obvious reasons :-)
fs/Bin/sm64.nse

#probably not necessary but a good thing to add just in case
.git/*

src/extra/testa.h
src/extra/testb.h

#directories I don't want added
limine
build/*
keep/*

apps/**/build/*
apps/**/*.nse

#apps I don't want out yet because I do not like embedding third party code or experiments into the OS repo
apps/ArduNS/*
fs/Bin/ArduNS.nse
fs/Bin/Dink.nse
apps/Dink/*
apps/LimnEmu/*
apps/Nano/*
apps/Nano/keep/*
apps/nsshell/*
apps/Reversi/*
apps/halfix/*

fs/Bin/Doom.nse
fs/Bin/LimnEmu.nse
fs/Bin/nsshell.nse
fs/Bin/VBuilder.nse
fs/Bin/Reversi.nse
fs/Bin/test.nse
fs/Bin/Chess.nse
fs/Tests/*.png
fs/User/*

crt/build_libnanoshell
crt/build_crt1
crt/crt1.o
crt/crti.o
crt/crtn.o
crt/libnanoshell.a

#NES ROMs which I will not risk making public
fs/Nes/*.nes

#files I don't want added because they're too big
vdisk.vdi
vdisk*.vdi
vdisk*.vhdx
vdisk*.vmdk

todo.txt
todo1.txt

# Nuh uh
/apps/gamma64
/apps/gamma64/*
fs/Bin/gamma64.nse
