#probably not necessary but a good thing to add just in case
.git/*

#directories I don't want added
limine
application/*
build/*
keep/*
tools/*

apps/hellowindow/build/*
apps/hellowindow/*.nse
apps/crtdemo/build/*
apps/crtdemo/*.nse
apps/notepad/build/*
apps/notepad/*.nse
apps/clock/build/*
apps/clock/*.nse

vdisk.vdi
vdisk*.vdi
