// NanoShell Resource File
SubSystem Gui
Version   1 1 0

AppName      "Sticky Notes"
AppAuthor    "iProgramInCpp"
AppCopyright "Copyright (C) 2022-2023 iProgramInCpp. Licensed under the GNU GPLv3."
ProjectName  "The NanoShell(TM) Operating System"
