// NanoShell Resource File
SubSystem Gui
Version   1 1 0

AppName      "Chess"
AppAuthor    "iProgramInCpp"
AppCopyright "Copyright (C) 2019-2023 iProgramInCpp. Licensed under the GNU GPLv3."
ProjectName  "The NanoShell(TM) Operating System"

Resource 900 Icon "icons/trophy.png"
Resource 901 Icon "icons/scale.png"
Resource 902 Icon "icons/resign.png"
Resource 903 Icon "icons/scale16.png"
Resource 904 Icon "icons/question.png"

Resource 1000 Bitmap "icons/chess_pieces_hq.png"
