// NanoShell Resource File
SubSystem Gui
Version   1 1 0

AppName      "Chess"
AppAuthor    "iProgramInCpp"
AppCopyright "Copyright (C) 2019-2023 iProgramInCpp. Licensed under the GNU GPLv3."
ProjectName  "The NanoShell(TM) Operating System"

Resource 900 Icon "icons/trophy.png"
Resource 901 Icon "icons/scale.png"
Resource 902 Icon "icons/black_pawn.png"
Resource 903 Icon "icons/white_pawn.png"
Resource 904 Icon "icons/black_king.png"
Resource 905 Icon "icons/white_king.png"
Resource 906 Icon "icons/black_queen.png"
Resource 907 Icon "icons/white_queen.png"
Resource 908 Icon "icons/black_rook.png"
Resource 909 Icon "icons/white_rook.png"
Resource 910 Icon "icons/black_knight.png"
Resource 911 Icon "icons/white_knight.png"
Resource 912 Icon "icons/black_bishop.png"
Resource 913 Icon "icons/white_bishop.png"
