// NanoShell Resource File
SubSystem Gui
Version   1 1 0

AppName      "Chess"
AppAuthor    "iProgramInCpp"
AppCopyright "Copyright (C) 2019-2023 iProgramInCpp. Licensed under the GNU GPLv3."
ProjectName  "The NanoShell(TM) Operating System"

Resource 1000 String "Chess"
Resource 1001 String "Black"
Resource 1002 String "White"
Resource 1003 String "It's %s's turn"
Resource 1004 String "Cannot load Chess. Too many cursors are loaded into the system. Please close some applications before playing."
Resource 1005 String "Stalemate!"
Resource 1006 String "Checkmate!"
Resource 1007 String "This game is a draw."
Resource 1008 String "%s wins this game."
Resource 1009 String "Would you like to reset the board and play another game?"
Resource 1010 String "%s Wins"
Resource 1011 String "Game Draw"
